:root {
    --white: #FFFFFF;
    --light-blue: rgb(162, 176, 195);
    --gray: #DBDDDD;
    --green: #38D430;
    --blue: #3B517D;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
}

body {
    background-image: url(/img/city-of-chicago-2021-08-26-23-04-24-utc/city-of-chicago-2021-08-26-23-04-24-utc.png);
    backdrop-filter: blur(40px);
    font-family: sequel-sans;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 36px;
}

main a {
    align-self: flex-end;
}

main .close_img {
    padding: 1em 0;
}

.close_img p {
    display: none;
}

main .logo_img {
    width: 100%;
    margin-top: 3em;
    display: grid;
    place-items: center;
}

.form_container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 3.5em;
    align-items: center;
    flex-grow: 2;
}

.form_container input {
    font-family: inherit;
    font-size: 1.2em;
    padding: 20px;
    border-radius: 30px;
}

.form_container input[type='text'],
.form_container input[type='email'] {
    width: 90%;
    border: 1px solid var(--gray);
    /* outline: 1px solid var(--gray); */
    color: var(--gray);
    background-color: rgb(0,0,0, 0.3);
    border-radius: 30px;
}

.form_container input[type='text']:focus,
.form_container input[type='email']:focus {
    background-color: var(--white);
    border: 1px solid var(--blue);
    /* outline: 1px solid var(--blue); */
    color: var(--black);
}

.form_container input[type='submit'] {
    width: 100%;
    border: none;
    background-color: var(--light-blue);
    color: var(--white);
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form_container input[type="text"]:required:valid,
.form_container input[type="email"]:required:valid {
    background-color: var(--white);
    color: var(--black);
}

.img_container {
    display: none;
}

.footer_info {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 10px;
}

.footer_info a img {
    width: 40px;
}

.footer_info p {
    font-size: 1.4em;
}

.footer_info .icon_link {
    color: var(--white);
    font-size: 2em;
    padding: 4px;
}

#item_facebook {
    margin-left: auto;
}

@media (min-width: 1000px) {

    .close_img {
        position: fixed;
        z-index: 100;
        top: 10px;
        left: 15px;
    }

    .close_img img {
        display: none;
    }

    .close_img p {
        display: block;
        font: 1.1em;
        color: var(--white);
        letter-spacing: 1px;
    }

    main {
        flex-direction: row-reverse;
        width: 100%;
        height: calc(100vh - 70px);
        height: 100vh;
        max-width: none;
        gap: 0;
    }

    main .logo_img {
        margin-top: 1em;
    }

    .img_container {
        display: block;
        width: 50%;
        background-image: url('/img/city-of-chicago-2021-08-26-23-04-24-utc\ \(2\)/city-of-chicago-2021-08-26-23-04-24-utc.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    main>section {
        width: 50%;
        display: grid;
        place-items: center;
        background-image: url('/img/Group\ 752.svg');
        background-position: center;
        background-color: var(--black);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
    }
    main section > div{
        width: 75%;
        display: grid;
        place-items: center;
        background-color: var(--black);
    }

    .form_container {
        margin-top: 0;
        width: 100%;
        background-color: var(--light-blue);
        background-color: rgb(162, 176, 195, 0.3);
        border-radius: 33px;
        gap: 2.2em;
    }

    .form_container input[type='text'],
    .form_container input[type='email'] {
        width: 80%;
        background-color: rgba(0, 0, 0);
    }

    .form_container input[type='submit'] {
        width: 40%;
        margin-top: 20px;
        margin-bottom: 40px;
        cursor: pointer;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(0, 0, 0, 0.6);
    }
}

@media (min-width: 500px) {
    .form_container input[type='submit'] {
        width: 40%;
    }
}
@media (max-width: 1500px) {
    .form_container {
        gap: 1.6em;
    }
    .form_container input {
        font-size: 1.1em;
        color: var(--white);
    }
}