* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}
:root {
    --light-black: #0F1011;
    --blue: #3B517D;
    --light-blue: #A2B0C3;
    --blue-gray: #A2B0C3B1;
    --gray: #DBDDDD;
    --white: #FFFFFF;
    --black: #000000;
}
body {
    background-color: var(--light-black);
    font-family: sequel-sans;
    color: #fff;
}
body, html{
    height: 100%;
}


/* styles first-container */
h1 {
    margin-top: 2em;
    font-size: 2.5em;
    line-height: 1.3em;
    font-weight: lighter;
}
.main_container {
    width: 100%;
    margin: 30px auto;
}
.logo_container {
    margin-top: 50px;
    position: relative;
    width: 100%;
    min-width: 280px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_container .img_container {
    width: 100%;
    height: 100%;
}
.logo_container .img_container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.first_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}
.text_container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}
.text_container .subtitle {
    font-size: 1.1em;
    line-height: 1.3em;
}
.text_container a{
    margin: 0 auto;
}
.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}
.img_container img {
    border: 10px solid var(--blue);
    border: double 12px transparent;
    border-radius: 50%;
    background-image: url('/img/Place\ Image\ Here/Place Image Here.png'),
        linear-gradient(to bottom, #1d2024 0%, #3b517d 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.second_container{
    background-image: url('/img/Group\ 751.svg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: -100;
}
.second_container_images{
    height: 253px;
    position: relative;
    
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.second_container_images figure:first-child{
    position: absolute;
    top: 7px;
    left: -70px;
    z-index: 3;
}
.second_container_images figure:nth-child(2){
    position: absolute;
    top: -40px;
    left: 88px;
}
.second_container_images figure:last-child{
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 2;
}
.btn {
    margin: 20px auto;
    padding: 20px;
    border-radius: 33px;
    cursor: pointer;
    width: 160px;
    font-family: sequel-sans;
    border: none;
    font-size: 1em;
}
.btn_white {
    background-color: var(--white);
    box-shadow: 0 0 20px var(--white);
}
.btn_blue {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0 0 20px var(--blue);
}

/* styles for text squares */
.square_container,
.square_container2,
.square_container3 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.square {
    text-align: center;
    padding: 1em 1.3em;
    font-size: 1.3em;
    border-radius: 36px;
    box-shadow: 0 0 40px var(--white);
}
.square_font {
    font-family: monorama-medium;
}
.square_white {
    background-color: var(--white);
    color: var(--black);
}
.square_black {
    background-color: var(--black);
    color: var(--white);
}
.square_container .square:nth-child(1) {
    width: 100%;
    position: relative;
}
.square_container .square:nth-child(2) {
    width: 70%;
    align-self: flex-end;
    position: relative;
    top: -4px;
    z-index: -1;
    border-radius: 60px;
}
.square_paragraph {
    padding: 100px 60px 30px;
    font-size: 0.9em;
    line-height: 1.3em;
}
.square_container2 .square:nth-child(1) {
    width: 90%;
    border-radius: 60px;
    position: relative;
    top: 80px;
    z-index: 1;
    align-self: center;
}
.square_container2 .square:nth-child(2) {
    width: 100%;
    position: relative;
}
.square_container3 .square:nth-child(1) {
    font-size: 0.9em;
    width: 60%;
    position: relative;
    top: 10px;
    z-index: 4;
    align-self: flex-end;
    border-radius: 60px;
    padding: 20px;
}
.square_container3 .square:nth-child(2) {
    font-size: 0.9em;
    width: 100%;
    border-radius: 50px;
    position: relative;
    align-self: center;
    padding: 30px;
    z-index: 5;
}
.background_container{
    background-image: url('/img/Group\ 752.svg');
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: -470px -30px;
    position: relative;
    z-index: -100;
}
.third_container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    align-items: center;
}
.third_container_img{
    position: relative;
    top: 110px;
    display: flex;
    width: 90%;
    justify-content: flex-start;
}
.third_container div:last-child{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -3px;
    z-index: -1;
}
.fourth_container{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    align-items: center;

}
.fourth_container_img{
    position: relative;
    top: 120px;
    display: flex;
    width: 90%;
    justify-content: flex-start;
    z-index: -100000;
}
.fourth_container_img img{
    margin-left: 20px;
}
.fourth_container div:last-child{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -40px;
    z-index: -1;
}

/* styles info container */

.info_container {
    background-color: var(--blue);
    display: grid;
    place-items: center;
}
.info_container_in {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}
.info_container_in>p {
    font-size: 2em;
    text-align: center;
    padding: 40px;
}
.footer_info {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer_info a img {
    width: 40px;
}
.footer_info p {
    font-size: 1.4em;
}
.footer_info .icon_link {
    color: var(--white);
    font-size: 2em;
    padding: 4px;
}
#item_facebook {
    margin-left: auto;
}
.float{
	position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
	background-color:var(--white);
	color:var(--black);
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:100;
    display: grid;
    place-items: center;
    text-decoration: none;
}
.float:hover {
	text-decoration: none;
	color: var(--white);
    background-color:#25d366;
}
.my-float:hover{
    transform: scale(2.2);
}
.second_container_desktop{
    display: none;
}

@media (min-width: 580px){
    .second_container{
        background-size: cover;
    }
}

/* Styles for desktop */
@media (min-width: 1000px) {
    main {
        background-image: url('/img/Group\ 751.svg');
        background-repeat: no-repeat;
        background-position:center;
        background-size:120%;
    }
    .first_container{
        flex-direction: row-reverse;
        margin-top: 100px;
        background-image: none;
    }
    .logo_container{
        width: 50%;
    }
    .text_container{
        width: 50%;
    }
    .img_container img {
        width: 70%;
    }
    .img_container2 img{
        width: 150px;
        height: auto;
    }
    .text_container{
        justify-content: flex-end;
        width: 40%;
    }
    .btn {
        padding: 26px 50px;
        width: 280px;
        font-size: 1.7em;
    }
    .square_container .square:first-child{
        width: 60%;
        height: 220px;
        margin: 0 auto;
        padding: 0;
        font-size: 1.4em;
        line-height: 220px; 
    }
    .second_container{
        margin-top: 140px;
        background-image: none;
        display: none;
    }
    .second_container_desktop{
        margin-top: 60px;
        display: block;
        display: flex;
        justify-content: center;
        padding: 30px;
        height: 270px;
        gap: 16px;
    }
    .main_square, .second_square{
        display: grid;
        place-items: center;
    }
    .desktop_img1{
        background: transparent url('/img/cheerful-woman-painting-the-walls-of-new-home-ren-2021-12-09-07-27-07-utc/cheerful-woman-painting-the-walls-of-new-home-ren-2021-12-09-07-27-07-utc@3x.png') 0% 0% no-repeat padding-box;
        background-size: 300%;
        background-position: center;
        border-radius: 33px;
        /* transform: translateX(200%); */
        display: none;
    }
    .img1_animation{
        animation-name: img1;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .img2_animation{
        animation-name: img2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .img3_animation{
        animation-name: img3;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .desktop_img2{
        background: transparent url('/img/group-of-students-studying-on-laptop-2022-02-02-05-06-20-utc/group-of-students-studying-on-laptop-2022-02-02-05-06-20-utc@3x.png') 0% 0% no-repeat padding-box;
        background-size: 300%;
        background-position: center;
        border-radius: 33px;
        /* transform: translateX(-300%); */
        display: none;
    }
    .desktop_img3{
        background: transparent url('/img/travel-image-travelers-team-look-on-the-mountain-2022-02-02-03-58-37-utc/travel-image-travelers-team-look-on-the-mountain-2022-02-02-03-58-37-utc@3x.png') 0% 0% no-repeat padding-box;
        background-size: 300%;
        background-position: center;
        border-radius: 33px;
        /* transform: translateX(-400%); */
        display: none;
    }
    
    .main_square{
        width: 60%;
        position: relative;
        z-index: 2000;
        font-size: 1.6em;
        transition: width 700ms linear;
    }
    .second_square{
        font-size: 1.6em;
    }
    .reduce_width{
        width: 20%;
    }
    .second_square{
        display: none;
    }
    .desktop_item{
        width: 20%;
    }
    .second_container .second_container_images{
        display: none;
    }
    .square_container .square:last-child{
        display: none;
    }
    .square_container .square:first-child{
        position: static;
    }
    .square_container2 .square:first-child{
        position: static;
    }
    .square_container2{
        justify-content: flex-end;
        align-items: center;
        gap: 60px;
    }
    .square_container3{
        justify-content: flex-end;
        align-items: center;
        gap: 60px;
    }
    
    .square_container3 .square:first-child{
        position: static;
        z-index: 1;
    }
    .square_container2 .square:last-child{
        width: 75%;
        display: none;
    }
    .third_container div:last-child {
        width: auto;
        order: 0;
        z-index: 0;
    }
    .third_container, .fourth_container{
        height: 600px;
    }
    .ocultar{
        display: none;
    }
    .mostrar{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mostrarflex{
        display: flex;
    }
    .mostrar2{
        display: block;
        animation-name: moveright-left;
        animation-duration: 1s;
    }
    .third_container, .fourth_container{
        flex-direction: row;
        justify-content: flex-start;
        justify-content: center;
        align-items: flex-start;
    }
    .third_container{
        margin-left: 10px;
    }
    .fourth_container{
        margin-right: 10px;
    }
    .third_container_img{
        position: static;
        width: auto;
        padding-top: 20px;
        order: 4;
    }
    .third_container div:last-child{
      position: static;
      padding-top: 20px;
    }
    .third_container div figure img{
        border-radius: 50%;
        width: 149px;
        height: 149px;
        object-fit: fill;
    }
    .fourth_container div:last-child{
        margin: none;
        z-index: 0;
    }
    .square_container3 .square:nth-child(2){
        z-index: 0;
    }
    .fourth_container .fourth_container_img{
        position: static;
        z-index: 1;
        width: auto;
        width: 149px;
        padding-top: 20px;
    }
    .fourth_container_img img{
        margin-left: 0;
        overflow: hidden;
    }
    .square_container3 .square:last-child{
        display: none;
    }
    .square_container3 .square:nth-child(1){
        align-self: center;
    }
    .fourth_container div figure{
        position: static;
        padding-top: 20px;
        width: 149px;
        overflow: hidden;
       
    }
    .fourth_container div figure img{
        width: 149px;
        overflow: hidden; 
    }
    .fourth_container div:last-child {
        position: static;
        width: 149px;
        order: 3;
        margin: 0;
    }
    .background_container{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 80px;
        position: static;
        z-index: 0;
        background-image: none;
    }
    .background_container .third_container
    ,.background_container .fourth_container{
        width: 50%;
    }
    .third_container .square_container2,
    .fourth_container .square_container3{
        width: 360px;
    }
    .square_container2 .square_dark,
    .square_container3 .square_dark{
        width: 100%;
    }
    .square_container2 .square:first-child,
    .square_container3 .square:nth-child(1){
        width: 75%;
        font-family: monorama-medium;
        font-size: 1.2em;
        padding: 40px;
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .square_container3 .square:last-child{
        width: 75%;
    }
    .second_container{
        z-index: auto;
        display: flex;
        display: none;
    }
    .square_container2,
    .square_container3{
        margin: 0;
    }
    #square_hover:hover{
        width: 200px;
        background-color:#25d366;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fourth_container .fourth_container_img{
        z-index: 0;
    }

    /* test for animations in second images*/
    .square_paragraph {
        padding: 30px;
    }
    .third_container .square_container2{
        order: 1;
    }
    .third_container .square_container2 .square_black:hover + .square_paragraph,
    .fourth_container .square_container3 .square_black:hover + .square_white{
        display: block;
    }
}
@media (max-width:1340px) {
    .background_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .background_container .third_container
    ,.background_container .fourth_container{
        width: 100%;
    }
    .third_container,
    .fourth_container{
        justify-content: center;
    }
    .square_container2,
    .square_container3{
        margin: 0;
    }
}
@media (max-width:1200px) {
    .main_square, 
    .second_square{
        font-size: 1.3em;
    }
    .desktop_img1
    ,.desktop_img3{
        background-size: 370%;
    }
}
@media (min-width: 1500px) {
    h1 {
        font-size: 3em;
        line-height: 1.6em;
    }
    .text_container .subtitle {
        font-size: 1.5em;
        line-height: 1.4em;
        font-weight: lighter;
    }
    .btn {
        padding: 30px 50px;
        width: 340px;
        font-size: 2em;
    }
    .third_container .square_container2,
    .fourth_container .square_container3{
        width: 440px;
    }
    .square_container2 .square:first-child,
    .square_container3 .square:nth-child(1){
        width: 90%;
        font-size: 1.6em;
    }
    
    .square_container2 .square:last-child,
    .square_container3 .square:nth-child(2){
        width: 90%;
        font-size: 1.4em;
        height: 240px;
    }
    .square_container .square:first-child{
        height: 240px;
        line-height: 240px; 
        font-size: 1.8em;
    }
    .second_container_desktop{
        height: 320px;
        gap: 30px;
    }
    .info_container_in>p {
        width: 50%;
        font-size: 2.7em;
        line-height: 1.4em;
    }
    .info_container_in>a {
        margin-bottom: 100px;
    }
    
    
}
@media (min-width: 2400px) {
    
    .img_container2 img{
        width: 300px;
        height: auto;
    }
    h1 {
        font-size: 4.3em;
        line-height: 1.6em;
        font-weight: lighter;
    }
    .text_container .subtitle {
        font-size: 2em;
        line-height: 1.7em;
        font-weight: lighter;
    }
    .btn {
        width: 360px;
        font-size: 2.2em;
    }
    .square_container .square:first-child{
        height: 280px;
        line-height: 280px; 
        font-size: 2.2em;
    }
    .second_container_desktop{
        margin: 200px 0 130px;
        height: 400px;
        gap: 50px;
    }
    .info_container_in>p {
        width: 40%;
        font-size: 3.2em;
        line-height: 1.6em;
    }
    .second_container{
        margin-top: 200px;
    }
    .third_container .square_container2,
    .fourth_container .square_container3{
        width: 600px;
    }
    
    .third_container div figure img
    ,.third_container figure img{
        width: 250px;
        height: 250px;
    }
    .fourth_container div:last-child ,
    .fourth_container .fourth_container_img,
    .fourth_container div figure img,
    .fourth_container figure img,
    .fourth_container div figure{
        width: 250px;
        height: auto;
    }
    .square_container2 .square:last-child,
    .square_container3 .square:nth-child(2){
        font-size: 1.8em;
        height: 300px;
    }
    .square_container2 .square:first-child, .square_container3 .square:nth-child(1){
        font-size: 1.9em;
        height: 250px;
    }
    .third_container_img
    ,.fourth_container .fourth_container_img{
        padding-top: 0;
    }
    .third_container div:last-child,
    .fourth_container div figure{
        padding-top: 0;
    }
    .second_container_desktop .main_square,
    .second_container_desktop .second_square{
        font-size: 2em;
    }

    
}


/* Animations */
@keyframes img1 {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes img2 {
    from{
        transform: translateX(-300%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes img3 {
    from{
        transform: translateX(-400%);
    }
    to{
        transform: translateX(0%);
    }
}

/* @keyframes main_square {
    from{
        transform: translateX(0);
        transform: scale(0.33);
    }
    to{
        transform: translateX(-100%);
        transform: scale(0.33);
    }
} */
